
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// PaperCSS
@import '~papercss/src/styles';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

textarea {
  width: 100%;
  min-height: 10rem;
  white-space: pre-line;
}

.inline {
  display: inline;
}

img {
  border: 0;
}

.paper-btn.btn-primary, [type=button].btn-primary, button.btn-primary {
  background-color: $azure-radiance;
}
